<% if (typeof successMsg != "undefined") { %>
  <div class="alert alert-success" role="alert"><%= successMsg %></div>
<% } %>
<% if (typeof errorMsg != "undefined") { %>
  <div class="alert alert-danger" role="alert"><%= errorMsg %></div>
<% } %>