<%- include('../partials/header', {title: locals.title})-%>

<div class="col-sm-12 col-md-6 offset-md-3">
  <h2>Login Form Demo</h2>

  <%- include('../partials/alerts', {successMsg: locals.successMsg, errorMsg: locals.errorMsg})-%>

  <div class="card">
    <div class="card-body">
      <p>
        <%= title %>
      </p>
      <p><a href="/users/logout">&raquo; Log out now</a></p>
    </div>
  </div>
</div>

<%- include('../partials/footer')-%>
