<%- include('../partials/header')-%>

<div class="col-sm-12 col-md-6 offset-md-3">
  <h2>Login Form Demo</h2>
  <div class="card">
    <div class="card-body">
      <p>
        <%= title %>
      </p>
      <% if (typeof warningMsg != "undefined") { %>
        <div class="alert alert-danger" role="alert"><%= warningMsg %></div>
      <% } %>
      <p><a href="/users/logout">&raquo; Log out now</a></p>
    </div>
  </div>
</div>

<%- include('../partials/footer')-%>
